<div>
  <% subscribers.forEach((subscriber) => { %>
  <div class="subscribers">
    <p>Name: <%= subscriber.name %></p>
    <p>Email: <%= subscriber.email %></p>
    <p>Phone-no: <%= subscriber.phone_no %></p>
  </div>
  <% }) %>
</div>
